div.row
  div.col-xs-12
    div#header
      div.page-header
        h1
          a(href='/admin/users/') Users
          |  / {{identity.username}}
    
    alert(type='danger' ng-show='error' close='error = null') {{error}}
    form#identity(ng-submit='identitySubmit(identity)' name='identityForm' novalidate)
      fieldset
        legend Identity
        alert(type='danger' ng-show='identity.error' close='identity.error = null') {{identity.error}}
        alert(type='success' ng-show='identity.success' close='identity.success = null') We updated your identity informations.
        div.form-group
          label Is Active:
          select.form-control(ng-model='identity.isActive' name='isActive' requiered ng-options='item as (item ? "Yes" : "No") for item in [true, false]')
        div.form-group
          label Username:
          input.form-control(type='text' ng-model='identity.username' name='username' value='{{identity.username}}' required)
        div.form-group
          label Email:
          input.form-control(type='text' ng-model='identity.email' name='email' value='{{identity.email}}' required)
        div.form-group
          button.btn.btn-primary.btn-update(type='submit' ng-disabled='identityForm.$invalid') Update

    form#password(ng-submit='password.submit(password.data)' name='passwordForm' novalidate)
      fieldset
        legend Set Password
        alert(type='danger' ng-show='password.error' close='password.error = null') {{password.error}}
        alert(type='success' ng-show='password.success' close='password.success = null') We updated your password.
        div.form-group
          label New Password:
          input.form-control(type='password' ng-model='password.data.password' equals="{{password.confirm}}" name='password' required)
        div.form-group
          label Confirm Password:
          input.form-control(type='password' ng-model='password.confirm' equals="{{password.data.password}}" name='confirm' required)
        div.form-group
          button.btn.btn-primary.btn-password(type='submit' ng-disabled='passwordForm.$invalid') Set Password

    div#delete
      fieldset
        legend Danger Zone
        alert(type='danger' ng-show='deleteUserError.error' close='deleteUserError.error = null') {{deleteUserError.error}}
        div.form-group
          span.help-block
            span.label.label-danger If you do this it cannot be undone.
            |&nbsp;
            span.text-muted You may also create orphaned document relationships too.
        div.form-group
          button.btn.btn-danger.btn-delete(type='button' ng-click='deleteUser()') Delete
