div.row
  div.col-xs-12
    div#header
      div.page-header
        h1 Users
        
    alert(type='danger' ng-show='error' close='error = null') {{error}}
    div#filters
      form.filters
        div.row
          div.col-sm-3
            label Username Search
            input.form-control(ng-model='filterQuery.username' type='text')
          //- div.col-sm-3
          //-   label Can Play Role
          //-   select.form-control(ng-model='filterQuery.roles')
          //-     option(value='') any
          //-     option(value='roles.admin') admin
          //-     option(value='roles.account') account
          div.col-sm-2
            label Is Active
            select.form-control(ng-model='filterQuery.isActive')
              option(value='') either
              option(value='true') yes
              option(value='false') no
          div.col-sm-2
            label Sort By
            select.form-control(ng-model='sortQuery')
              option(value='_id') id &#9650;
              option(value='-_id') id &#9660;
              option(value='username') username &#9650;
              option(value='-username') username &#9660;
              option(value='email') email &#9650;
              option(value='-email') email &#9660;
    
    div#results-table
      table.table.table-striped
        thead
          tr
            th
            th username
            th.stretch email
            th active
            th id
        tbody#results-rows
          tr(ng-hide='userList.data.length === 0' ng-repeat='user in userList.data | filter:filterQuery | orderBy:sortQuery')
            td
              input.btn.btn-default.btn-sm.btn-details(type='button' value='Edit' ui-sref='admin.userdetail({ id: user._id })')
            td {{user.username}}
            td {{user.email}}
            td {{user.isActive ? "Yes" : "No"}}
            td {{user._id}}          
          
          tr(ng-show='userList.data.length === 0')
            td(colspan='5') no documents matched
            
    div#results-paging
      pagination.pull-right(total-items="userList.items.total" items-per-page='userList.items.limit' ng-model="currentPage")
