div.row(ng-controller='SignupCtrl')
  div.col-sm-6
    div.page-header
      h1 Sign Up
    form(ng-submit='signup(credentials)' name='signupform' novalidate)
      div.form-group
        label.control-label Your Name:
        input.form-control(type='text' ng-model='credentials.name' name='name' required)
      div.form-group
        label.control-label Username:
        input.form-control(type='text' ng-model='credentials.username' name='username' required)
      div.form-group
        label.control-label Email:
        input.form-control(type='text' ng-model='credentials.email' name='email' required)
      div.form-group
        label.control-label Password:
        input.form-control(type='password' ng-model='credentials.password' name='password' required)
      div.form-actions
        button.btn.btn-primary#submit-signup(type='submit' ng-disabled='signupform.$invalid') Sign In
