div.row
  div.col-sm-6
    div.page-header
      h1 Reset Your Password
    form(ng-submit='reset()' name='resetForm' novalidate)
      alert(type="danger" ng-show="error" close="error = null") {{error}}
      div.form-group
        label.control-label Email:
        input.form-control(type='text' ng-model='email' name='email' required)
      div.form-group
        label.control-label Key from the mail:
        input.form-control(type='text' ng-model='key' name='key' required)
      div.form-group
        label.control-label New Password:
        input.form-control(type='password' ng-model='password' equals="{{confirm}}" name='password' required)
      div.form-group
        label.control-label Confirm Password:
        input.form-control(type='password' ng-model='confirm' equals="{{password}}" name='confirm' required)
      div.form-actions
        button.btn.btn-primary(type='submit' ng-disabled='resetForm.$invalid') Set Password
        |&nbsp;
        a.btn.btn-link(href='/login/') Back to Login
