div.row
  div.col-xs-12
    div#header
      div.page-header
        alert(type='danger' ng-show='newStatus.error' close='newStatus.error = null') {{newStatus.error}} 
        form.form-inline.pull-right(ng-submit='newStatusSubmit(newStatus)' name='newStatusForm' novalidate)
          div.input-group
            input.form-control(name='pivot' type='text' placeholder='pivot' ng-model='newStatus.pivot' required)
          div.input-group
            input.form-control(name='name' type='text' placeholder='name' ng-model='newStatus.name' required)
          div.input-group
            button.btn.btn-primary.btn-add(type='submit' ng-disabled='newStatusForm.$invalid') Add New
        h1 Statuses
    
    alert(type='danger' ng-show='error' close='error = null') {{error}}
    div#filters
      form.filters
        div.row
          div.col-sm-3
            label Pivot Search
            input.form-control(ng-model='filterQuery.pivot' type='text')
          div.col-sm-3
            label Name Search
            input.form-control(ng-model='filterQuery.name' type='text')
          div.col-sm-3
            label Sort By
            select.form-control(ng-model='sortQuery')
              option(value='_id') id &#9650;
              option(value='-_id') id &#9660;
              option(value='name') name &#9650;
              option(value='-name') name &#9660;
              
    div#results-table
      table.table.table-striped
        thead
          tr
            th
            th pivot
            th.stretch name
            th id
        tbody#results-rows
          tr(ng-repeat='status in statusList.data | filter:filterQuery | orderBy:sortQuery' ng-hide='statusList.data.length === 0')
            td
              input.btn.btn-default.btn-sm.btn-details(type='button' value='Edit' ui-sref='admin.statusdetail({ id: status._id })')
            td {{status.pivot}}
            td {{status.name}}
            td.nowrap {{status._id}}

          tr(ng-show='statusList.data.length === 0')
            td(colspan='4') no documents matched
    
    div#results-paging
      pagination.pull-right(total-items="statusList.items.total" items-per-page='statusList.items.limit' ng-model="currentPage")
