div.row
  div.col-xs-12
    div#header
      div.page-header
        h1
          a(href='/admin/accounts/') Accounts
          |  / {{account.name.first}} {{account.name.last}}

div.row
  div.col-sm-8
    alert(type='danger' ng-show='error' close='error = null') {{error}}
    form#details(ng-submit='identity.submit(account.name)' name='identityForm' novalidate)
      fieldset
        legend Contact Info
        alert(type='danger' ng-show='identity.error' close='identity.error = null') {{identity.error}}
        alert(type='success' ng-show='identity.success' close='identity.success = null') We updated your identity informations.
        div.form-group
          label First Name:
          input.form-control(type='text' name='first' ng-model='account.name.first' required)
        div.form-group
          label Middle Name:
          input.form-control(type='text' name='middle' ng-model='account.name.middle')
        div.form-group
          label Last Name:
          input.form-control(type='text' name='last' ng-model='account.name.last' required)
        div.form-group
          button.btn.btn-primary.btn-update(type='submit' ng-disabled='identityForm.$invalid') Update

    div#link-user
      fieldset
        legend Login
        alert(type='danger' ng-show='user.error' close='user.error = null') {{user.error}}
        alert(type='success' ng-show='user.success' close='user.success = null') {{user.success}}
        div(ng-show='account.user')
          label Username:
          div.input-group
            input.form-control(disabled=true ng-model='account.user.name')
            div.input-group-btn
              button.btn.btn-warning.btn-user-unlink(type='button' ng-click='user.unlink()') Unlink
              button.btn.btn-default.btn-user-open(type='button' ui-sref='admin.userdetail({ id: account.user.id })') Open
              
        form(ng-hide='account.user' ng-submit='user.link(user.data)' name='linkUserForm' novalidate)
          label Username:
          div.input-group
            input.form-control(name='newUsername' ng-model='user.data' type='text' placeholder='enter a username' required)
            span.input-group-btn
              button.btn.btn-success.btn-user-link(type='submit' ng-disabled='linkUserForm.$invalid') Link

    div#delete
      fieldset
        legend Danger Zone
        alert(type='danger' ng-show='deleteAccountError.error' close='deleteAccountError.error = null') {{deleteAccountError.error}}
        div.form-group
          span.help-block
            span.label.label-danger If you do this it cannot be undone.
            |&nbsp;
            span.text-muted You may also create orphaned document relationships too.
        div.form-group
          button.btn.btn-danger.btn-delete(type='button' ng-click='deleteAccount()') Delete
      
  div.col-sm-4
    //- fieldset
    //-   div#status-new.status-new
    //-     legend Status
    //-     // Alert
    //-     div.input-group
    //-       select.form-control(name='status')
    //-         option(value='') -- choose --
    //-         for status in data.statuses
    //-           option(value='#{status._id}') #{status.name}
    //-       div.input-group-btn
    //-         button.btn.btn-default.btn-add Change
    //-         
    //-   div#status-collection
    //-     div#status-items.status-items
    //-       // Repeat
    //-       div.pull-right.badge.author
    //-         |<%= userCreated.name %>
    //-         | -&nbsp;
    //-         span.timeago <%= userCreated.time %>
    //-       div <%- name %>
    //-       div.clearfix
  
    fieldset
      form#notes-new.notes-newform(ng-submit='note.submit(note.data)' name='noteForm' novalidate)
        legend Notes
        alert(type='danger' ng-show='note.error' close='note.error = null') {{note.error}}
        textarea.form-control(rows='3' name='data' ng-model='note.data' placeholder='enter notes' required)
        button.btn.btn-default.btn-block(type='submit' ng-disabled='noteForm.$invalid') Add New Note
        
      div#notes-collection
        div#notes-items.notes-items(ng-show='account.notes')
          div(ng-repeat='noteObject in account.notes')
            div.force-wrap {{noteObject.data}}
            div.pull-right.badge.author
              | {{noteObject.userCreated.name}}
              | -&nbsp;
              span.timeago {{ago(noteObject.timeCreated)}}
            div.clearfix
        div.note.text-muted(ng-hide='account.notes') no notes found
