div.row
  div.col-xs-12
    div#header
      div.page-header
        alert(type='danger' ng-show='newAccount.error' close='newAccount.error = null') {{newAccount.error}} 
        form.form-inline.pull-right(ng-submit='newAccount.submit(newAccount.data)' name='newAccountForm' novalidate)
          input.form-control(name='name' ng-model='newAccount.data.name' type='text' placeholder='enter a name' required)
          button.btn.btn-primary.btn-add(type='submit' ng-disabled='newAccountForm.$invalid') Add New
        h1 Accounts
    
    alert(type='danger' ng-show='error' close='error = null') {{error}}
    div#filters
      form.filters
        div.row
          div.col-sm-3
            label First Name Search
            input.form-control(ng-model='filterQuery.name.first' type='text')
          div.col-sm-3
            label Last Name Search
            input.form-control(ng-model='filterQuery.name.last' type='text')
          //- div.col-sm-3
          //-   label Status
          //-   select.form-control(name='status')
          //-     option(value='') -- any --
          //-     for status in data.statuses
          //-       option(value='#{status._id}') #{status.name}
          div.col-sm-3
            label Sort By
            select.form-control(ng-model='sortQuery')
              option(value='name') name &#9650;
              option(value='-name') name &#9660;

    div#results-table
      table.table.table-striped
        thead
          tr
            th
            th
              | name
              span.pull-right.timeago.muted age
        tbody#results-rows
          tr(ng-hide='accountList.data.length === 0' ng-repeat='account in accountList.data | filter:filterQuery | orderBy:sortQuery')
            td
              input.btn.btn-default.btn-sm.btn-details(type='button' value='Edit' ui-sref='admin.accountdetail({ id: account._id })')
            td.stretch
              span.badge.badge-clear.timeago.pull-right {{ago(account.timeCreated)}}
              | {{account.name.first}} {{account.name.last}}
              
          tr(ng-show='accountList.data.length === 0')
            td(colspan='2') no documents matched

    div#results-paging
      pagination.pull-right(total-items="accountList.items.total" items-per-page='accountList.items.limit' ng-model="currentPage")
          
