div.row
  div.col-sm-6
    div.page-header
      h1 Admin Dashboard
    div.row
      p.ultra-big-thing-aka-placeholder-for-that-user-page-as-some-kind-of-demo {..}
  div.col-sm-6.special
    div.page-header
      h1 Go Faster Everyday
    i.fa.fa-dashboard.super-awesome
