div.row
  div.col-xs-12
    div#header
      div.page-header
        alert(type='danger' ng-show='newGroup.error' close='newGroup.error = null') {{newGroup.error}} 
        form.form-inline.pull-right(ng-submit='newGroup.submit(newGroup.data)' name='newGroupForm' novalidate)
          input.form-control(name='name' ng-model='newGroup.data.name' type='text' placeholder='enter a name' required)
          button.btn.btn-primary.btn-add(type='submit' ng-disabled='newGroupForm.$invalid') Add New
        h1 Admin Groups

    div#filters
      form.filters
        div.row
          div.col-sm-3
            label Name Search
            input.form-control(ng-model='filterQuery.name' type='text')
          div.col-sm-3
            label Sort By
            select.form-control(ng-model='sortQuery')
              option(value='_id') id &#9650;
              option(value='-_id') id &#9660;
              option(value='name') name &#9650;
              option(value='-name') name &#9660;
              
    div#results-table
      table.table.table-striped
        thead
          tr
            th
            th.stretch name
            th id
        tbody#results-rows
          tr(ng-hide='groupList.data.length === 0' ng-repeat='group in groupList.data | filter:filterQuery | orderBy:sortQuery')
            td
              input.btn.btn-default.btn-sm.btn-details(type='button' value='Edit' ui-sref='admin.groupdetail({ id: group._id })')
            td.nowrap {{group.name}}
            td {{group._id}}
          
          tr(ng-show='groupList.data.length === 0')
            td(colspan='3') no documents matched        

    div#results-paging
      pagination.pull-right(total-items="groupList.items.total" items-per-page='groupList.items.limit' ng-model="currentPage")
