html(lang='en' ng-app='FrameApp')
  head
    title NgFrame
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/assets/styles/core.css')

  body(ng-cloak ng-controller='AppInformations')
    div.navbar.navbar-default.navbar-fixed-top(ng-controller='NavCtrl')
      div.container
        div.navbar-header
          a.navbar-brand(href='/')
            img.navbar-logo(src='/assets/media/logo-symbol-64x64.png')
            span.navbar-brand-label {{appVars.projectName}}
          button.navbar-toggle.collapsed(ng-click="isCollapsed = !isCollapsed")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-collapse.my-navbar-collapse.collapse(collapse="!isCollapsed")
          ul.nav.navbar-nav
            li(access-level='accessLevels.public' active-nav)
              a(href='/') Home
            li(access-level='accessLevels.public' active-nav)
              a(href='/about/') About
            li(access-level='accessLevels.anon' active-nav)
              a(href='/signup/') Sign Up
            li(access-level='accessLevels.public' active-nav)
              a(href='/contact/') Contact
          ul.nav.navbar-nav.navbar-right
            li(access-level='accessLevels.user' active-nav)
              a(href="/account/") {{ user.username }}
            li(access-level='accessLevels.admin' active-nav)
              a(href="/admin/") {{ user.username }}
            li(access-level='accessLevels.user')
              a(href="" ng-click="logout()") Logout
            li(access-level='accessLevels.admin')
              a(href="" ng-click="logout()") Logout
            li(access-level='accessLevels.anon')
              a(href='/login/')
                i.fa.fa-user
                |  Sign In

    div.page
      div.container(ui-view='')

    div.footer
      div.container
        span.copyright.pull-right
          |&#169; {{appVars.copyrightYear}} {{appVars.companyName}}
        ul.links
          li: a(href='/') Home
          li: a(href='/contact/') Contact
        div.clearfix

    // Public
    script(type="text/ng-template" id="login")
      include modules/login/partials/login
    script(type="text/ng-template" id="signup")
      include modules/signup/partials/signup
    script(type="text/ng-template" id="404")
      include modules/http/404
    script(type="text/ng-template" id="home")
      include modules/home/partials/index
    script(type="text/ng-template" id="contact")
      include modules/contact/partials/index
    script(type="text/ng-template" id="about")
      include modules/about/partials/index

    // Admin
    script(type="text/ng-template" id="admin/dashboard")
      include modules/admin/partials/index

    // Account
    script(type="text/ng-template" id="account/dashboard")
      include modules/account/partials/index

    script(src='/assets/bundle.js')
