html(lang='en' ng-app='FrameApp')
  head
    title NgFrame
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/assets/styles/core.css')

  body(ng-cloak ng-controller='AppInformations')
    div(ng-controller='NavCtrl')
      // Anon. Navbar
      div.navbar.navbar-default.navbar-fixed-top(access-level='accessLevels.anon')
        div.container
          div.navbar-header
            a.navbar-brand(href='/')
              img.navbar-logo(src='/assets/media/logo-symbol-64x64.png')
              span.navbar-brand-label {{appVars.projectName}}
            button.navbar-toggle.collapsed(ng-click="isCollapsed = !isCollapsed")
              span.icon-bar
              span.icon-bar
              span.icon-bar
          div.navbar-collapse.my-navbar-collapse.collapse(collapse="!isCollapsed")
            ul.nav.navbar-nav
              li(active-nav): a(href='/') Home
              li(active-nav): a(href='/about/') About
              li(active-nav): a(href='/signup/') Sign Up
              li(active-nav): a(href='/contact/') Contact
            ul.nav.navbar-nav.navbar-right
              li(active-nav)
                a(href='/login/')
                  i.fa.fa-user
                  |  Sign In
      // User Navbar
      div.navbar.navbar-default.navbar-fixed-top(access-level='accessLevels.user')
        div.container
          div.navbar-header
            a.navbar-brand(href='/account/')
              img.navbar-logo(src='/assets/media/logo-symbol-64x64.png')
              span.navbar-brand-label {{appVars.projectName}}
            button.navbar-toggle.collapsed(ng-click="isCollapsed = !isCollapsed")
              span.icon-bar
              span.icon-bar
              span.icon-bar
          div.navbar-collapse.my-navbar-collapse.collapse(collapse="!isCollapsed")
            ul.nav.navbar-nav
              li(active-nav): a(href='/account/') My Account
              li(active-nav): a(href='/account/settings/') Settings
            ul.nav.navbar-nav.navbar-right
              li: a(href="/account/") {{ user.username }}
              li: a(href="" ng-click="logout()") Logout
      // Admin Navbar
      div.navbar.navbar-inverse.navbar-fixed-top(access-level='accessLevels.admin')
        div.container
          div.navbar-header
            a.navbar-brand(href='/admin/')
              img.navbar-logo(src='/assets/media/logo-symbol-64x64.png')
              span.navbar-brand-label {{appVars.projectName}}
            button.navbar-toggle.collapsed(ng-click="isCollapsed = !isCollapsed")
              span.icon-bar
              span.icon-bar
              span.icon-bar
          div.navbar-collapse.my-navbar-collapse.collapse(collapse="!isCollapsed")
            ul.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | System&nbsp;
                  span.caret
                ul.dropdown-menu
                  li.dropdown-header Pivoted Settings
                  li: a(href='/admin/statuses/') Statuses
                  li: a(href='/admin/categories/') Categories
                  li.divider
                  li.dropdown-header User Admin
                  li: a(href='/admin/users/') Users
                  li: a(href='/admin/accounts/') Accounts
                  li: a(href='/admin/administrators/') Administrators
                  li: a(href='/admin/admin-groups/') Admin Groups
            ul.nav.navbar-nav.navbar-right
              li
                form.navbar-form.pull-right#_search
              li
                a(href="" ng-click="logout()") Logout

    div.page
      div.container(ui-view='')

    div.footer
      div.container
        span.copyright.pull-right
            |&#169; {{appVars.copyrightYear}} {{appVars.companyName}}
        ul.links
          li: a(href='/') Home
          li: a(href='/contact/') Contact
        div.clearfix

    script(src='/assets/bundle.js')
